.movieContainer {
    display: flex;
}

.movieImg {
    width: auto;
    margin: 10px 20px 20px 0;
}

.movieDetails {
    min-width: 500px;
}

.linkDetails {
    margin: 10px;
    border-radius: 10px;
    background-color: #97e75f;
    display: inline-block;
    padding: 5px;
    max-width: 60px;
    text-decoration: none;
}